<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{if .Title}}{{.Title}} | {{end}}{{ .Site.Name -}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{.Feed}}">
  <link rel="stylesheet" href="{{.ThemePath}}/base.css">

  <meta property="og:title" content="{{.Post.Title}}" />
  <meta name="twitter:title" content="{{.Post.Title}}" />
  <meta name="twitter:card" content="summary" />
  {{- if .Post.Description -}}
    <meta property="og:description" content="{{.Post.Description}}" />
    <meta name="twitter:description" content="{{.Post.Description}}" />
  {{- end -}}
  {{- if .Post.OpenGraphImage -}}
    <meta property="og:image" content="{{.Post.OpenGraphImage}}" />
    <meta name="twitter:image" content="{{.Post.OpenGraphImage}}" />
  {{- else if .Site.DefaultThumb -}}
    <meta property="og:image" content="{{.Site.Address}}{{.Site.Root}}{{.Site.DefaultThumb}}" />
    <meta name="twitter:image" content="{{.Site.Address}}{{.Site.Root}}{{.Site.DefaultThumb}}" />
  {{- end }}
  {{- if .Site.AuthorTwitter -}}
    <meta name="twitter:site" content="{{.Site.AuthorTwitter}}" />
  {{- end }}

  {{- template "head" .}}
</head>

<body>
{{template "body" .}}

</body>

</html>
