{{define "head"}}{{end}}

{{define "body"}}
<header>
  <h1 class="site-title">{{.Site.Name}}</h1>
  <p class="tagline">{{.Site.Tagline}}</p>
</header>

<hr>

<div class="pages">
{{- range .ArticlesInNav}}
  <a href="{{.WebPath}}">{{.Title}}</a>
{{- end}}
  <a class="feed-link" href="{{.Feed}}">
    <img src="{{.Site.Root}}_theme/feed.svg" alt="Atom Feed" title="Atom Feed">
  </a>
</div>

<hr>

{{.Content}}

{{if .ArticlesInFeed -}}
<p>All posts, newest first:</p>

<ul>
  {{- range .ArticlesInFeed}}
  {{- if not .IsDraft}}
  <li class="article">
    <a href="{{.WebPath}}">{{.Title}}</a>
    <br>
    <span>{{.PostedAt.Local.Format "January 1, 2006"}}</span>
  </li>
  {{- end}}
  {{- end}}
</ul>
{{else}}
<p>No posts yet.</p>
{{end}}

<style>
.site-title {
  margin-bottom: 0;
}
.tagline {
  margin-top: 0;
}

.feed-link img {
  height: 1rem;
}
.feed-link {
  float: right;
}
hr {
  clear: both;
}

.pages a {
  margin-right: 0.5rem;
}

ul {
  padding: 0;
  list-style: none;
}

.article {
  margin-bottom: 1rem;
}
</style>

{{template "footer" .}}
{{end}}
