html {
  font-family: serif;
  max-width: 50rem;
  margin: auto;
}

p,
ul,
ol {
  line-height: 1.35rem;
}

main img,
main video {
  max-width: 100%;
}

footer {
  margin-top: 2rem;
  text-align: right;
  font-size: 0.8rem;
}

pre,
.sidenote {
  border: 1px solid black;
  background-color: #eee;
  padding: 0.5rem;
}
pre {
  overflow-y: scroll;
}
.sidenote {
  margin-left: 2rem;
}
.sidenote p {
  margin: 0;
}

blockquote {
  padding-left: 7px;
  margin: 1.5rem 0 1.5rem 2rem;
  quotes: "\201C" "\201D";
  /* prevent long links from breaking out of the blockquote: */
  overflow-wrap: break-word;
}
blockquote::before {
  position: absolute;
  margin-left: -0.5em;
  margin-top: -0.25em;
  font-size: 3em;
  content: open-quote;
}

sup {
  line-height: 1rem; /* prevents it from pushing up the line */
}
