<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{.Title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    html {
      font-family: serif;
      max-width: 50rem;
      margin: auto;
    }
  </style>
</head>

<body>
{{template "body" .}}
</body>

</html>
